

.mat-toolbar{
    a{
        display: inline-block;
        margin-right: 20px;
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
        cursor: pointer;
        font-weight: bold;
    }

    .nav-item{
        .nav-link.active{
            color: rgb(251, 86, 7);
            text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
        }
    }
    
    .nav-link{
        &:hover,&:focus{
            color : rgb(251, 86, 7);
        }
    }
}